name: Java CI with Maven

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        
    - name: Build with Maven
      run: mvn -B install -pl com.archimatetool.elk -am -DskipTests -T 1C

    - name: Package .archiplugin
      run: |
        mkdir -p target/package
        cp com.archimatetool.elk/target/com.archimatetool.elk-*.jar target/package/
        touch target/package/archi-plugin
        cd target/package && zip -r ../../elk-auto-layout-plugin.archiplugin *

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: elk-auto-layout-plugin.archiplugin
        path: elk-auto-layout-plugin.archiplugin
